page-version {
    h1{
        color : #614385;
    }
     table {
         width: 100%;
     }
     #move{
         position : relative;
      
     }
     #back{
         background : #614385;
     }
     #back h1 {
         color : #f4f4f4;
         text-align: center;
         margin-top : 5%
     }
     
     #back img{
        margin-top: 45%;
        padding-left :39%;
     }

}
